.flex-container {
  align-content: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  text-align: center;
}
.flex-content {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  width: 80%;
}
.flex-footer {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding-top: 50px;
  width: 80%;
  app-reader {
    display: flex;
    justify-content: start;
    border: 1px solid black;
    min-height: 350px;
    height: fit-content;
    min-width: 300px;
    width: fit-content;
  }
}
